.SearchBar {
  text-align: center;
}

div.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.SearchResult {
  text-align: center;
}

div.Polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.Container {
  text-align: center;
}

.TestImg {
  box-shadow:5px 5px 5px #999;
}